body{
  margin: 0;
  font-family: Times New Roman;
}

/* nav section */


#navbar .navbar{
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
#navbar .logo{
  font-size: 15px;
  padding: 0px;
}


.menubar ul li{
  font-size: 12px;
  margin: 2px;
  padding: 4px;
}


/* home section */


#home .home{
  width: 80%;
  flex-direction: column;
}
.home .home-image{
  width: 100%;
}
.home .home-image img{
  width: 350px;
}
.home .home-content{
  width: 100%;
  padding: 20px 0px;
}
.home .home-content h1{
  font-size: 25px;
  text-shadow: 2px 2px 2px gray;
}
.home .home-content p{
  font-size: 15px;
}
.home .home-content button{
  width: 39%;
  font-size: 15px;
}

.home-box{
  flex-direction: column;
}
.home-box .box{
  width: 100%;
  margin: 5px 0px;
  padding: 10px;
}

.home-box .box h2{
  text-shadow: 2px 2px 2px gray;
}

/* sevice sections */

#service{
  padding-top: 35px;
}

#service .service h1{
  font-size: 35px;
}
#service .service h1 b:nth-child(1){
  text-shadow: 2px 2px 2px gray;
}
#service .service h1 b:nth-child(2){
  text-shadow: 2px 2px 2px gray;
}

.service .service-content{
  width: 100%;
  margin: 5px 0px;
}

.service-content i{
    font-size: 20px;
}
.service-content button{
  font-size: 20px;
}

/* About Section */

#about{
  padding-top: 45px;
}

#about h1{
  font-size: 35px;
}
#about h1 b:nth-child(1){
  text-shadow: 2px 2px 2px gray;
}
#about h1 b:nth-child(2){
  text-shadow: 2px 2px 2px gray;
}

#about .about{
  flex-direction: column;
}

.about .about-image{
  width: 100%;
}
.about-image img{
  width: 350px;
}

.about .about-content{
  padding: 20px 0px;
}
.about-content h2{
  text-shadow: 2px 2px 2px gray;
  font-size: 25px;
}
.about-content p{
  font-size: 10px;
}
.about-content button{
  width: 40%;
  font-size: 15px;
}

/* doctor sections */

#doctor{
  padding-top: 45px;
}

#doctor h1{
  font-size: 35px;
}
#doctor h1 b:nth-child(1){
  text-shadow: 2px 2px 2px gray;
}
#doctor h1 b:nth-child(2){
  text-shadow: 2px 2px 2px gray;
}

.doctor .doctor-content{
  width: 100%;
  margin: 5px 0px;
}

.doctor-content a{
  font-size: 20px;
}

/* Book Section */

#book{
  padding-top: 45px;
}

#book h1{
  font-size: 35px;
}
#book h1 b:nth-child(1){
  text-shadow: 2px 2px 2px gray;
}
#book h1 b:nth-child(2){
  text-shadow: 2px 2px 2px gray;
}

#book .book{
  flex-direction: column;
}

.book .book-image{
  width: 100%;
}
.book-image img{
  width: 350px;
}

.book-content{
  width: 100%;
  padding: 20px 0px;
}
form h2{
  text-shadow: 2px 2px 2px gray;
}

/* review sections */

#review{
  padding-top: 45px;
}

#review h1{
  font-size: 35px;
}
#review h1 b:nth-child(1){
  text-shadow: 2px 2px 2px gray;
}
#review h1 b:nth-child(2){
  text-shadow: 2px 2px 2px gray;
}

.review .review-content{
  width: 100%;
  margin: 5px 0px 55px 0px;
  padding-top: 40px;
}

.review-content img{
  top: -16%;
  left: 35%;
}


/* Blog section */

#blog{
  padding-top: 45px;
}

#blog h1{
  font-size: 35px;
}
#blog h1 b:nth-child(1){
  text-shadow: 2px 2px 2px gray;
}
#blog h1 b:nth-child(2){
  text-shadow: 2px 2px 2px gray;
}


.blog .blog-content{
    width: 100%;
    margin: 5px 0px;
}
.blog-content img{
  height: 200px;
}
.blog-content h2{
  font-size: 25px;
}
.blog-content button{
  font-size: 20px;
}


/* contact sections */

#contact .contact{
  flex-direction: column;
  align-items: left;
}

.contact .contact-content{
  margin: 5px 0px;
  padding: 5px;
}

.contact-content h1{
  font-size: 25px;
}
.contact-content a span{
  color: green;
  font-size: 15px;
}
.contact-content a{
  font-size: 15px;
  margin: 10px;
}

/* footer */

footer h3{
  font-size: 15px;
}