body{
  margin: 0;
  font-family: Times New Roman;
}


/* nav section */

#navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: rgb(255,255,255);
  box-shadow: 1px 2px 5px rgb(223,220,220);
}
#navbar .navbar{
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
#navbar .logo{
  font-size: 25px;
  padding: 0px 550px 0px 0px;
}
#navbar .logo i{
  color: rgb(0,153,118);
}
#navbar .logo b{
  color: rgba(0, 0, 0, 0.6);
}

.menubar ul{
  display: flex;
  list-style: none;
}
.menubar ul li{
  margin: 0px 5px;
  padding: 5px 10px;
  font-size: 15px;
}
.menubar ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.menubar ul li a:hover{
  color: blue;
  font-weight: bold;
}

/* home section*/

#home{
  margin: 0;
  padding-top: 60px;
  background: rgba(207,207,206,0.4);
}

#home .home{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.home .home-image{
  width: 40%;
}
.home .home-image img{
  width: 360px;
}
.home .home-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 60%;
}
.home .home-content h1{
  font-size: 55px;
  text-shadow: 3px 3px 2px gray;
  margin: 2px 0px;
}
.home .home-content p{
  color: rgba(0, 0, 0, 0.6);
  font-size: 30px;
}
.home .home-content button{
  width: 25%;
  font-size: 25px;
  border: 2px solid rgb(0,153,118);
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
  border-radius: 5px;
  color: rgb(0,153,118);
}

.home-box{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-box .box{
  width: 24%;
  border: 2px solid rgb(0,153,118);
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
  border-radius: 5px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.home-box .box i{
  color: rgb(0,153,118);
  font-size: 35px;
}
.home-box .box h2{
  font-size: 40px;
  font-weight: bold;
  text-shadow: 3px 3px 2px gray;
}

/* sevice sections */

#service{
  margin: 0;
  background: rgba(207,207,206,0.4);
  padding-top: 30px;
}

#service .service{
  width: 85%;
  margin: auto;
  padding: 15PX 0PX;
}
#service .service h1{
  text-align: center;
  font-size: 45px;
}
#service .service h1 b:nth-child(1){
  color: black;
  text-shadow: 3px 3px 2px gray;
}
#service .service h1 b:nth-child(2){
  color: rgb(0,153,118);
  text-shadow: 3px 3px 2px gray;
}

.service .service-content{
  display: inline-block;
  width: 32%;
  border: 2px solid rgb(0,153,118);
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
  border-radius: 5px;
  text-align: left;
  margin: 5px;
  padding: 20px;
}

.service-content i{
    font-size: 30px;
    color: rgb(0,153,118);
}
.service-content h3{
  font-weight: bolder;
}
.service-content button{
  font-size: 25px;
  border: 2px solid rgb(0,153,118);
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
  border-radius: 5px;
  color: rgb(0,153,118);
}

/* About Section */

#about{
  margin: 0;
  background: white;
  padding-top: 45px;
}

#about h1{
  text-align: center;
  font-size: 45px;
}
#about h1 b:nth-child(1){
  color: rgb(0,153,118);
  text-shadow: 3px 3px 2px gray;
}
#about h1 b:nth-child(2){
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 2px gray;
}

#about .about{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about .about-image{
  width: 50%;
}
.about-image img{
  width: 500px;
}

.about .about-content{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.about-content h2{
  text-align: left;
  font-weight: bold;
  text-shadow: 3px 3px 2px gray;
  font-size: 44px;
}

.about-content button{
  width: 30%;
  font-size: 25px;
  border: 2px solid rgb(0,153,118);
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
  border-radius: 5px;
  color: rgb(0,153,118);
}

/* doctor sections */

#doctor{
  margin: 0;
  padding-top: 20px;
  background: rgba(207,207,206,0.4);
  padding-top: 45px;
}
#doctor h1{
  text-align: center;
  font-size: 45px;
}
#doctor h1 b:nth-child(1){
  color: black;
  text-shadow: 3px 3px 2px gray;
}
#doctor h1 b:nth-child(2){
  color: rgb(0,153,118);
  text-shadow: 3px 3px 2px gray;
}

#doctor .doctor{
  width: 85%;
  margin: auto;
  padding: 15PX 0PX;
}

.doctor .doctor-content{
  width: 31%;
  display: inline-block;
  background: white;
  border: 2px solid rgb(0,153,118);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
}
.doctor-content img{
  width: 200px;
  border: 2px solid rgb(0,153,118);
  border-radius: 5px;
  margin: 25px;
}
/*.doctor-content h2{
  
}
.doctor-content p{
  
}*/
.doctor-content a{
  text-decoration: none;
  color: rgb(0,153,118);
  border: 2px solid rgb(0,153,118);
  border-radius: 5px;
  padding: 4px 10px;
  margin: 4px 10px;
  font-size: 25px;
}

/* Book Section */

#book{
  margin: 0;
  background: white;
  padding-top: 45px;
}

#book h1{
  text-align: center;
  font-size: 45px;
}
#book h1 b:nth-child(1){
  color: rgb(0,153,118);
  text-shadow: 3px 3px 2px gray;
}
#book h1 b:nth-child(2){
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 2px gray;
}

#book .book{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.book .book-image{
  width: 50%;
}
.book-image img{
  width: 500px;
}

.book-content{
  width: 50%;
}

.book-content form{
  border: 2px solid rgb(0,153,118);
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 3px 2px rgba(0,153,118,0.4);
}
form h2{
  font-weight: bolder;
  text-shadow: 3px 3px 2px gray;
}
form input{
  background: transparent;
  border: 2px solid rgb(0,153,118);
  border-radius: 5px;
  width: 88%;
  margin: 15px;
  padding: 10px;
}
form .submit{
  text-align: center;
  border: 2px solid rgb(0,153,118);
  color: rgb(0,153,118);
  border-radius: 5px;
  margin: 15px;
  padding: 10px;
  background: transparent;
  font-weight: bolder;
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
}

/* review sections */

#review{
  margin: 0;
  padding-top: 20px;
  background: rgba(207,207,206,0.4);
  padding-top: 45px;
}
#review h1{
  text-align: center;
  font-size: 45px;
}
#review h1 b:nth-child(1){
  color: black;
  text-shadow: 3px 3px 2px gray;
}
#review h1 b:nth-child(2){
  color: rgb(0,153,118);
  text-shadow: 3px 3px 2px gray;
}

#review .review{
  width: 85%;
  margin: auto;
  padding: 60px 0px;
}
.review .review-content{
  width: 31%;
  height: 300px;
  display: inline-block;
  background: white;
  border: 2px solid rgb(0,153,118);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
  background: rgb(0,153,118);
  position: relative;
  padding: 20px;
  padding-top: 60px;
}

.review-content img{
  border: 2px solid rgb(0,153,118);
  border-radius: 50%;
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20%;
  left: 40%;
}

.review-content h3{
  color: white;
  font-weight: bold;
}
.review-content span{
  color: gold;
  font-size: 35px;
}
.review-content p{
  text-align: justify;
  color: white;
}

/* Blog section */

#blog{
  margin: 0;
  background: white;
  padding-top: 45px;
}
#blog h1{
  text-align: center;
  font-size: 45px;
}
#blog h1 b:nth-child(1){
  color: rgb(0,153,118);
  text-shadow: 3px 3px 2px gray;
}
#blog h1 b:nth-child(2){
  color: black;
  text-shadow: 3px 3px 2px gray;
}

#blog .blog{
  width: 85%;
  margin: auto;
  padding: 15PX 0PX;
}

.blog .blog-content{
    width: 31%;
    height: 550px;
  display: inline-block;
  background: white;
  border: 2px solid rgb(0,153,118);
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  text-align: left;
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
}
.blog-content img{
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.blog-content :nth-child(2){
  float: left;
  color: rgb(0,153,118);
}
.blog-content :nth-child(3){
  float: right;
  color: rgb(0,153,118);
}

.blog-content h2{
  font-size: 25px;
}
.blog-content p{
  font-size: 13px;
}

.blog-content button{
  font-size: 20px;
  border: 2px solid rgb(0,153,118);
  box-shadow: 4px 3px 2px rgba(0,153,118,0.4);
  border-radius: 5px;
  color: rgb(0,153,118);
}


/* contact sections */

#contact{
  margin: 0;
  padding-top: 20px;
  background: rgba(207,207,206,0.4);
}

#contact .contact{
  width: 85%;
  margin: auto;
  padding: 15PX 0PX;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact .contact-content{
  margin: 10px;
  padding: 20px;
  text-align: left;
}

.contact-content a span{
  color: green;
  font-size: 20px;
}
.contact-content a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 20px;
  display: block;
}

/* footer */

footer h3{
  text-align: center;
}

footer .hr{
  width: 100%;
  height: 2px;
  background: rgb(0, 0, 0);
  opacity: 0.5;
}